.navBar {
  font-family: 'Oswald', sans-serif !important;
  background-color: #ff4b5c !important;
  display: flex;
  justify-content: space-between; 
}

.nav-link {
  color: aliceblue !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__left {
  display: flex;
  align-items: center;
  
}

.navbar__h3 {
  font-weight: 700;
  margin-left: 20px;
  color: aliceblue;
  margin-top: 6px;
}

.navbar__icon {
  color: aliceblue;
}