
@media only screen and (max-width: 800px) {
  .Home__mainDiv {
      display: flex !important;
      flex-direction: column !important;
  }
}

@media only screen and (max-width: 530px) {
  .home_leftDiv {
     max-width: 90% !important;
     margin-bottom: 30px;
  }

  .home_rightDiv {
    max-width: 100% !important;
  }
}